* {
    margin: 0;
    padding: 0;
}

.page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.page {
    height: 80%;
    width: 5rem;

    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}


.p1 {
    background-image: url(/imgs/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.p2 {
    background-image: url(/imgs/fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.p3 {
    background-image: url(/imgs/soccer.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.p4 {
    background-image: url(/imgs/travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.p5 {
    background-image: url(/imgs/work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page.active {
    width: 60%;
}